<ion-header>
  <ion-toolbar>
    <ion-title>Productos disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Categoría: Limpieza</ion-card-subtitle>
    </ion-card-header>
    <ion-item>

      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Cloro</ion-label>
      <ion-button fill="outline" slot="end">Ver </ion-button>
    </ion-item>

    <ion-card-content>
      Descripción: 2 Unidades
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Categoría: Limpieza</ion-card-subtitle>
    </ion-card-header>
    <ion-item>

      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Alcohol</ion-label>
      <ion-button fill="outline" slot="end">Ver </ion-button>
    </ion-item>

    <ion-card-content>
      Descripción: 2 Unidades
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Categoría: Limpieza</ion-card-subtitle>
    </ion-card-header>
    <ion-item>

      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Alcohol</ion-label>
      <ion-button fill="outline" slot="end">Ver </ion-button>
    </ion-item>

    <ion-card-content>
      Descripción: 2 Unidades
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Categoría: Limpieza</ion-card-subtitle>
    </ion-card-header>
    <ion-item>

      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Alcohol</ion-label>
      <ion-button fill="outline" slot="end">Ver </ion-button>
    </ion-item>

    <ion-card-content>
      Descripción: 2 Unidades
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>App a tu Casa</ion-title>
  </ion-toolbar>
</ion-footer>
