<ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Bienvenido a App a tu Casa</ion-title>

      </ion-toolbar>

      <ion-toolbar>
        <ion-title>¿Qué deseas hacer?</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-group>


    <ion-item>
      <ion-button expand="block">Iniciar Sesión</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block">Registrarme</ion-button>
    </ion-item>

  </ion-item-group>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>App a tu Casa</ion-title>
  </ion-toolbar>
</ion-footer>
