<ion-header>
  <ion-toolbar>
    <ion-title>regproduct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <ion-label position="stacked" id="nom">Nombre de producto</ion-label>
  <ion-input></ion-input>
</ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <ion-label>Cantidad</ion-label>
  <ion-input type="number"></ion-input>

  <ion-label>Precio</ion-label>
  <ion-input type="number"></ion-input>

  <ion-button expand="block">Registrar</ion-button>ion-content>
  </ion-content>
